<div class="container">
    <!-- Search input -->
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <!-- Google map -->
    <div id="map" >
        
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDn90CnvtRd_ISmZeml4irFtnklKWRibhc&callback=initMap&libraries=places&v=weekly"
    async></script>